body{
  margin: 0px;
  padding: 0px;
  min-width: 1000px;
}
a{
  text-decoration: none;
}
.header{
  height: 10px;
  width: 100%;
  border-bottom: 1px solid gray;
}
.header-wrapper{
  margin-top: 0px;
  position: relative;
  width: inherit;
  height: 1400px;

}

input:focus{
  padding-left: 10px;
}
.navbar{
  margin-top: 0px;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 3;
  justify-content: center;
  text-align: center;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.top-navigate{
  position: sticky;
  bottom: 0px;
  z-index: 3;
}

.btn-box{
  width: 160px;
  margin-top: 2px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.navigation{
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.link-btn{
  font-size: 20px;
  margin: 5%;
}
button:hover{
  transform: scale(1.1);
  transition: 0.7s ease;
}
.notValid{
  color : red!important;
}

.notValidInput{
  border-bottom: 2px solid #e32b2b!important;
  border-left: 2px solid #fc8686!important;
}
.user-card-title{
  transition: 0.5s ease;
}
.user-card-title:hover{
  color: #4d1a7f; 
}